.performance {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}

.performance__bg{
  position: absolute;
  top: 119rem;
  right: 0;
  z-index: -2;
}


.performance__title {
  font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 66px;
text-align: right;
color: #FFFFFF;
margin-left: -2rem;
margin-top: 6.25rem;
}

.performance--text-highlight {
  color: #b824d0;
}


.performance__box p:nth-child(2) {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #F3F3F3;
margin-top: 3rem;
margin-left: 3rem;
opacity: 0.61;
transition: all 0.7s ease-in-out;
}

.performance__box p:nth-child(3) {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F3F3F3;
opacity: 0.61;
margin-top: 1rem;
transition: all 0.7s ease-in-out;
}

.performance__box p:nth-child(4) {

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16.1653px;
line-height: 20px;
color: #F3F3F3;
opacity: 0.6;
  margin-top: 1rem;
  opacity: 0.5;
  transition: all 0.7s ease-in-out;
}

.performance__box p:nth-child(5) {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F3F3F3;
opacity: 0.6;
  margin-top: 1rem;
  opacity: 0.5;
  transition: all 0.7s ease-in-out;
}

.performance__box p:nth-child(6) {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F3F3F3;
opacity: 0.61;
  margin-top: 1rem;
  transition: all 0.7s ease-in-out;
}

.performance__box:nth-child(1) {
  position: relative;
  margin-top: -10rem;
}

.performance__top-circle {
  position: absolute;
  top: -2rem;
  left: -5rem;
  z-index: -1;
}

.performance__bottom-circle {
  position: absolute;
  bottom: -3rem;
  right: 5rem;
  z-index: -1;
}

.swiper-slide{
  
  width: 100%;
  height: 100%;
  left: 70px;
}

.perfomance__img{
 margin-left: 0rem;
}

.perfomance__img3{
  margin-left: 6rem;
 }


 .perfomance__img4{
    margin-left: 3.5rem;
    height: 30rem;
    margin-bottom: 18rem;
 }

.swiper {
  width: 600px;
  height: 600px;
  position: absolute;
  bottom: 45%;
  left: -20%;
}


.addmarginLeft{
  margin-left:50px;
}
.removemarginLeft{
  margin-left:0px;
  opacity: 4;
}

@media screen and (max-width: 1024px) {
  .phone{
    width: 50%;
    height: 80%;
    left: 0;
    position: absolute;
    top: -2rem;
    left: 2rem;
  }
  .performance {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .performance__title {
    font-size: 2.438rem;
    display: none;
  }
  .performance__box p{
    position: relative;
    top: -8rem;
    left: -5rem;
    font-weight: 600;
  }

  .performance__box p:nth-child(2) {

    font-weight: 600;
  }
  
  .performance__box p:nth-child(3) {

    margin-left: 0rem;
  }
  
  .performance__box p:nth-child(4) {

    margin-left: 0rem;
    
  }
  
  .performance__box p:nth-child(5) {
    
    margin-left: 0rem;
    
  }
  
  .performance__box p:nth-child(6) {
  
    margin-left: 0rem;
   
  }
}